:root {
    --mobile: 0;
}

html,body {
    margin: 0;
    height: 100%;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    background-color: #F8F9F9;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-keep {
    flex: 0 1 auto;
}

.flex-remaining {
    flex: 1 1 auto;
}

.sidebar {
    background-color: #17202A;
    width: 20%;
    height: 100%;

    color: white;

    transition: height 0.5s;
    -webkit-transition: height 0.5s;
}

.button {
    display: block;
    padding: 0.5em 1em;
    text-align: center;
    width: 50%;
    margin: 0.5em auto;

    transition: 0.5s;
    -webkit-transition: 0.5s;

    cursor: pointer;
}

.button.light-theme {
    color: white;
    border: solid white 1px;
}

.button.light-theme:hover {
    background-color: white;
    color: #17202A;
}

.button.dark-theme {
    color: #17202A;
    border: solid #17202A 1px;
}

.button.dark-theme:hover {
    background-color: #17202A;
    color: white;
}

.square {
    width: 50%;
}
  
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.circle {
    border-radius: 50%;
}

.image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.center-full {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    margin: 0;
}

.center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    margin: 0;
}

h1 {
    font-weight: 400;
}

.full {
    width: 100%;
    height: 100%;
}

.no-select {
    color: grey;
}

.hidden {
    display: none;
}

.cards {
    width: 95%;
    margin: 0 auto;

    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;

    grid-template-columns: 1fr 1fr;

    padding-bottom: 1em;
}

.card {
    background-color: white;
    border-radius: 1em;
    height: 18em;
    box-shadow: lightgrey 0px 0px 10px 1px;
    overflow: hidden;
    position: relative;

    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.card:hover {
    box-shadow: lightgrey 5px 5px 20px 1px
}

.card h3, .title h3 {
    padding-left: 5%;
    margin-bottom: 0.3em;
}

.title {
    padding-bottom: 1em;
}

.hr {
    background-color: rgb(234, 238, 238);
    height: 3px;
    margin: 0 auto;
    width: 90%;

    border-radius: 5px;
}

.checkbox {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: solid lightgray 2px;
    border-radius: 20%;

    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.checkbox.checked {
    background-color: #229954;
    border-color: #229954;
}

.label {
    display: inline-block;
}

.element p {
    margin: 0.1em 0;
}

.card .inner {
    width: 90%;
    margin: 0 auto;
    margin-top: 1em
}

@media only screen and (max-width: 940px) {
    body {
        font-size: 1.7vw;
    }

    .sidebar {
        width: 25%;
    }
}

@media only screen and (max-width: 700px) {
    :root {
        --mobile: 1;
    }

    .cards {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .card {
        margin-bottom: 1em;
    }

    body {
        font-size: 2.5vw;
    }

    .square {
        width: 20%;
    }

    .hamburger {
        display: inline !important;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 4vw;
    }
}

.hamburger {
    position: absolute;
    right: 0.5em;

    width: auto;
    display: none;

    z-index: 1000;

    transition: none;
    -webkit-transition: none;
}

.force-open {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: block;
}