body {
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.ui {
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    pointer-events: none;
}

.death {
    background-color: rgba(231, 76, 60, 0.5);
    z-index: 1000;
}

.ui .center {
    width: 70%;
    font-size: 150%;
}

.center * {
    margin: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hidden {
    opacity: 0;
}

.hidden .button {
    pointer-events: none !important;
}

.button {
    cursor: pointer;

    border: solid white 1px;
    color: white;

    display: block;
    margin: 0 auto;
    width: 40%;

    pointer-events: all;

    transition: 0.5s;
    -webkit-transition: 0.5s;

    padding: 0.3em 0;
}

.button:hover {
    background-color: white;
    color: rgb(231, 76, 60);
}

.credits {
    position: absolute;

    bottom: 1em;
    right: 1em;

    text-align: right;
}

.credits p {
    margin: 0.3em 0;    
}